*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,body{
  height: 100%;
  width: 100%;
  background-color: #000000;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.canvas_container{
  position: relative;
  height: 100%;
  width: 100vh;
}
.foreground_cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 20%;
  font-size: 2rem;
  color: aliceblue;
}
.event_name_container{
  position: absolute;
  /* background-color: rgb(95, 58, 9); */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.event_name{
  color: #EDE9E9;
  position: absolute;
  text-align: center;
  /* font-size: 9rem; */
  top: 10px;
  margin-top: 120px;
  padding: 5px;

}
.event_name_container svg path{
  fill: transparent;

  stroke: #ffffff;
  stroke-width: 1.5;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  /* animation: textAnimation 4s ease-in-out alternate forwards; */
}
@keyframes textAnimation{
  0%{
    stroke-dashoffset: 300;
  }
  60%{
    fill: transparent;
  }
  100%{
    fill: #5A31AB;
    stroke-dashoffset: 0;
  }
}
.loader-content{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
main{
  transition: opacity .5s ease-in-out;
}
.hidden{
  opacity: 0;
  visibility: hidden;
}
.visible{
  opacity: 1;
  visibility: visible;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* loader */
.demo{
  width: 100%;
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EDE9E9;
  font-size: 3rem;
}
/* button */

#button {
  --black-700: hsla(0 0% 12% / 1);
  --border_radius: 9999px;
  --transtion: 0.3s ease-in-out;
  --offset: 2px;

  cursor: pointer;
  position: absolute;
  display: flex;
  top: 8%;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 0.5rem;

  transform-origin: center;

  padding: 1rem 2rem;
  background-color: transparent;

  border: none;
  border-radius: var(--border_radius);
  transform: scale(calc(1 + (var(--active, 0) * 0.1)));

  transition: transform var(--transtion);
}

#button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  height: 80%;
  background-color: hsl(260, 80%, 10%);
  background-image: radial-gradient(
      at 51% 89%,
      hsla(266, 45%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 100%, rgb(52, 0, 120) 0px, transparent 50%),
    radial-gradient(at 22% 91%, rgb(62, 0, 144) 0px, transparent 50%);
  background-position: top;

  border-radius: var(--border_radius);
  box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
    0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0))),
    0 0 0 calc(var(--active, 0) * 0.375rem) hsl(260 97% 50% / 0.75);

  transition: all var(--transtion);
  z-index: 0;
}

#button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  height: 80%;
  background-color: hsla(260 97% 61% / 0.75);
  background-image: radial-gradient(
      at 51% 89%,
      hsla(266, 45%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 100%, hsla(266, 36%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 91%, hsla(266, 36%, 60%, 1) 0px, transparent 50%);
  background-position: top;

  opacity: var(--active, 0);
  border-radius: var(--border_radius);
  transition: opacity var(--transtion);
  z-index: 2;
}

#button:is(:hover, :focus-visible) {
  --active: 1;
}
#button:active {
  transform: scale(1);
}

#button .dots_border {
  --size_border: calc(80% + 2px);

  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--size_border);
  height: var(--size_border);
  background-color: transparent;

  border-radius: var(--border_radius);
  z-index: -10;
}

#button .dots_border::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  transform: rotate(0deg);

  width: 100%;
  height: 2rem;
  background-color: white;

  mask: linear-gradient(transparent 0%, white 120%);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}



@keyframes path {
  0%,
  34%,
  71%,
  100% {
    transform: scale(1);
  }
  17% {
    transform: scale(var(--scale_path_1, 1));
  }
  49% {
    transform: scale(var(--scale_path_2, 1));
  }
  83% {
    transform: scale(var(--scale_path_3, 1));
  }
}

#button .text_button {
  position: relative;
  z-index: 10;

  background-image: linear-gradient(90deg, hsla(0 0% 100% / 1) 0%, hsl(0deg 0% 100%) 120%);
  background-clip: text;

  font-size: 1rem;
  color: transparent;
}
